################## Hamiltonian ###################

### Hamiltonian Type
### (heisenberg_neighbours, heisenberg_pairs, gaussian)
hamiltonian                heisenberg_neighbours

### Boundary_conditions (a b c): 0(open), 1(periodical)
boundary_conditions       1 1 0

### External magnetic field vector[T]
external_field_magnitude   1.5
external_field_normal      0.0 0.0 1.0

### µSpin
mu_s                       3.0

### Uniaxial anisotropy constant [meV]
anisotropy_magnitude       0.8
anisotropy_normal          0.0 0.0 1.0


### Shells
n_shells_exchange 5
jij 27.32 -1.02 -5.76 0.14 1.10

### Chirality of DM vectors (+/-1=bloch, +/-2=neel)
dm_chirality -2
n_shells_dmi 1
dij 2.4

################ End Hamiltonian #################


################### Geometry #####################
### Lattice constant for basis and translations
lattice_constant 2.72

### The bravais lattice type
bravais_vectors
1.0 0.0 0.0
0.5 0.8660254037844386 0.0
0.0 0.0 1.0


### Number of basis cells along principal
### directions (a b c)
n_basis_cells 32 32 1
################# End Geometry ###################